<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-Book.ttf</string>
		<string>Gizmo.ttf</string>
		<string>Gotham-Black.ttf</string>
		<string>Gotham-BlackItalic.ttf</string>
		<string>Gotham-Bold.ttf</string>
		<string>Gotham-BoldItalic.ttf</string>
		<string>Gotham-BookItalic.ttf</string>
		<string>Gotham-Light.ttf</string>
		<string>Gotham-LightItalic.ttf</string>
		<string>Gotham-Medium.ttf</string>
		<string>Gotham-MediumItalic.ttf</string>
		<string>Gotham-Thin.ttf</string>
		<string>Gotham-ThinItalic.ttf</string>
		<string>Gotham-Ultra.ttf</string>
		<string>Gotham-UltraItalic.ttf</string>
		<string>Gotham-XLight.ttf</string>
		<string>Gotham-XLightItalic.ttf</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>IconRetina.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>IconRetina.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>Sano-Intelligence.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
